# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html
Mark Gardner <mjgardner@cpan.org> <mjg@phoenixtrap.com>
Mark Gardner <mjgardner@cpan.org> <gardnerm@gsicommerce.com>
Mark Gardner <mjgardner@cpan.org> <mgardner@ariasystems.com>
Mark Gardner <mjgardner@cpan.org> <gardnerm@gsicommerce.com>
Mark Gardner <mjgardner@cpan.org> <mjg+github@phoenixtrap.com>
יובל קוג'מן (Yuval Kogman) <nothingmuch@woobling.org> Yuval Kogman <nothingmuch@woobling.org>
